<div class="devise">
  <img src="/banner.png" class="login-banner"/>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-group') do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field container-fluid">
        <div class="login-button p-a-0">
          <button class="btn" type="submit" name="commit" value="Log in" data-disable-with="Log in">Log in</button>
          <%= f.label(:remember_me) do %>
             Remember me
            <%= f.check_box(:remember_me) %>
          <% end %>
        </div>
      </div>
    <% end -%>

    <div class="actions">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
